- type: "app-proxy-envoy"
  command: "/etc/cf-assets/envoy/envoy -c /home/vcap/deps/{{ .Idx }}/envoy-config.yaml --base-id {{ .BaseId }} --log-level info"
  platforms:
    cloudfoundry:
      sidecar_for: [ "web" ]
