agent {
  server_address = "{{ .SpireServerAddress }}"
  server_port = {{ .SpireServerPort }}
  log_level = "{{ .LogLevel }}"
  trust_domain = "{{ .TrustDomain }}"
  trust_bundle_path = "/home/vcap/deps/{{ .Idx }}/certificates/bundle.crt"

  workload_x509_svid_key_type = "{{ .SvidKeyType }}"
}

plugins {
  KeyManager "memory" {
    plugin_data {}
  }

  NodeAttestor "cf_iic" {
    plugin_cmd = "/home/vcap/deps/{{ .Idx }}/bin/cf_iic"
    plugin_data {
      private_key_path = "/etc/cf-instance-credentials/instance.key"
      certificate_path = "/etc/cf-instance-credentials/instance.crt"
    }
  }
  
  WorkloadAttestor "unix" {}
}
