- type: "spire_agent"
  command: "/home/vcap/deps/{{ .Idx }}/bin/spire-agent run -config /home/vcap/deps/{{ .Idx }}/spire-agent.conf"
  platforms:
    cloudfoundry:
      sidecar_for: [ "web"]
- type: "spire_agent_1"
  command: "/home/vcap/deps/{{ .Idx }}/bin/spire-agent run -config /home/vcap/deps/{{ .Idx }}/spire-agent.conf"
  platforms:
    cloudfoundry:
      sidecar_for: [ "web"]
- type: "spire_agent_2"
  command: "/home/vcap/deps/{{ .Idx }}/bin/spire-agent run -config /home/vcap/deps/{{ .Idx }}/spire-agent.conf"
  platforms:
    cloudfoundry:
      sidecar_for: [ "web"]
- type: "spire_agent_3"
  command: "/home/vcap/deps/{{ .Idx }}/bin/spire-agent run -config /home/vcap/deps/{{ .Idx }}/spire-agent.conf"
  platforms:
    cloudfoundry:
      sidecar_for: [ "web"]
- type: "spire_agent_4"
  command: "/home/vcap/deps/{{ .Idx }}/bin/spire-agent run -config /home/vcap/deps/{{ .Idx }}/spire-agent.conf"
  platforms:
    cloudfoundry:
      sidecar_for: [ "web"]
- type: "spire_agent_5"
  command: "/home/vcap/deps/{{ .Idx }}/bin/spire-agent run -config /home/vcap/deps/{{ .Idx }}/spire-agent.conf"
  platforms:
    cloudfoundry:
      sidecar_for: [ "web"]
- type: "spire_agent_6"
  command: "/home/vcap/deps/{{ .Idx }}/bin/spire-agent run -config /home/vcap/deps/{{ .Idx }}/spire-agent.conf"
  platforms:
    cloudfoundry:
      sidecar_for: [ "web"]
- type: "spire_agent_7"
  command: "/home/vcap/deps/{{ .Idx }}/bin/spire-agent run -config /home/vcap/deps/{{ .Idx }}/spire-agent.conf"
  platforms:
    cloudfoundry:
      sidecar_for: [ "web"]
- type: "spire_agent_8"
  command: "/home/vcap/deps/{{ .Idx }}/bin/spire-agent run -config /home/vcap/deps/{{ .Idx }}/spire-agent.conf"
  platforms:
    cloudfoundry:
      sidecar_for: [ "web"]
- type: "spire_agent_9"
  command: "/home/vcap/deps/{{ .Idx }}/bin/spire-agent run -config /home/vcap/deps/{{ .Idx }}/spire-agent.conf"
  platforms:
    cloudfoundry:
      sidecar_for: [ "web"]
- type: "spire_agent_10"
  command: "/home/vcap/deps/{{ .Idx }}/bin/spire-agent run -config /home/vcap/deps/{{ .Idx }}/spire-agent.conf"
  platforms:
    cloudfoundry:
      sidecar_for: [ "web"]
- type: "spire_agent"
  command: "/home/vcap/deps/{{ .Idx }}/bin/spire-agent run -config /home/vcap/deps/{{ .Idx }}/spire-agent.conf"
  platforms:
    cloudfoundry:
      sidecar_for: [ "web"]
- type: "spire_agent_11"
  command: "/home/vcap/deps/{{ .Idx }}/bin/spire-agent run -config /home/vcap/deps/{{ .Idx }}/spire-agent.conf"
  platforms:
    cloudfoundry:
      sidecar_for: [ "web"]
- type: "spire_agent_12"
  command: "/home/vcap/deps/{{ .Idx }}/bin/spire-agent run -config /home/vcap/deps/{{ .Idx }}/spire-agent.conf"
  platforms:
    cloudfoundry:
      sidecar_for: [ "web"]
- type: "spire_agent_13"
  command: "/home/vcap/deps/{{ .Idx }}/bin/spire-agent run -config /home/vcap/deps/{{ .Idx }}/spire-agent.conf"
  platforms:
    cloudfoundry:
      sidecar_for: [ "web"]
- type: "spire_agent_14"
  command: "/home/vcap/deps/{{ .Idx }}/bin/spire-agent run -config /home/vcap/deps/{{ .Idx }}/spire-agent.conf"
  platforms:
    cloudfoundry:
      sidecar_for: [ "web"]
- type: "spire_agent_15"
  command: "/home/vcap/deps/{{ .Idx }}/bin/spire-agent run -config /home/vcap/deps/{{ .Idx }}/spire-agent.conf"
  platforms:
    cloudfoundry:
      sidecar_for: [ "web"]
- type: "spire_agent_16"
  command: "/home/vcap/deps/{{ .Idx }}/bin/spire-agent run -config /home/vcap/deps/{{ .Idx }}/spire-agent.conf"
  platforms:
    cloudfoundry:
      sidecar_for: [ "web"]
- type: "spire_agent_17"
  command: "/home/vcap/deps/{{ .Idx }}/bin/spire-agent run -config /home/vcap/deps/{{ .Idx }}/spire-agent.conf"
  platforms:
    cloudfoundry:
      sidecar_for: [ "web"]
- type: "spire_agent_18"
  command: "/home/vcap/deps/{{ .Idx }}/bin/spire-agent run -config /home/vcap/deps/{{ .Idx }}/spire-agent.conf"
  platforms:
    cloudfoundry:
      sidecar_for: [ "web"]
- type: "spire_agent_19"
  command: "/home/vcap/deps/{{ .Idx }}/bin/spire-agent run -config /home/vcap/deps/{{ .Idx }}/spire-agent.conf"
  platforms:
    cloudfoundry:
      sidecar_for: [ "web"]
- type: "spire_agent_20"
  command: "/home/vcap/deps/{{ .Idx }}/bin/spire-agent run -config /home/vcap/deps/{{ .Idx }}/spire-agent.conf"
  platforms:
    cloudfoundry:
      sidecar_for: [ "web"]